.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 14px;
  margin: 24px 0;
  font-family: SourceSansPro;
}

.Title {
  width: 640px;
  margin: auto;
  line-height: 38px;
  font-size: 24px;
  text-align: left;
  margin: 0 0 24px;
  font-weight: 600;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
